Redirect permanent /software/wdiff/manual/html_node/Examples.html http://www.gnu.org/software/wdiff/manual/html_node/Invoking-wdiff.html
Redirect permanent /software/wdiff/manual/html_node/Examples.html http://www.gnu.org/software/wdiff/manual/html_node/wdiff-invocation.html
